html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.place {
  color:rgb(4, 4, 243);
}

.welcome {
  font-size: 25px;;
}

.container {
  overflow-x: auto;
  padding: 5px;
}

.photo {
  margin: 25px;
  width: 250px;
  box-shadow: 4px 5px 6px #8395a7;
}

.delete--photo {
  display: none;
}


